# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=production

# Change the following values for local development.
SECRET_KEY=secret-key
TRELLO_KEY={{ trello_api_key }}
TRELLO_TOKEN={{ trello_api_token }}
TRELLO_BOARD_ID={{ trello_api_board_id }}
TO_DO_IDLIST={{ trello_api_todo_idlist }}
DONE_IDLIST={{ trello_api_done_idlist }}