{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  
  <div class="row">
    <div class="col-md-12">
      <h2>To Do Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.to_do_items %}
        <li>ID: {{ item.id }} Title: {{ item.title }} Status: {{item.status}}
          
            <form action="/complete_item/{{ item.id }}" method="post"> <button type="submit" name="Move" >Move To Done</button>  </form> 
           <!-- <a href=complete_item/{{ item.id }} ><button class=grey style="height:75px;width:150px">Move To Done</button></a>  -->
          
        </li>
        {% endfor %}
        
      </ul>

      <h2>Doing Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.doing_items %}
        <li>ID: {{ item.id }} Title: {{ item.title }} Status: {{item.status}}</li>
        {% endfor %}
        
      </ul>

      <h2>Done Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.done_items %}
        <li>ID: {{ item.id }} Title: {{ item.title }} Status: {{item.status}}</li>
        {% endfor %}
        
      </ul>
    </div>
  </div>

  <form action="/create_card" method="post" class="form-example">
    <div class="form-example">
      <label for="title">Enter the Card Name: </label>
      <input type="text" name="cardName" id="title" required>
    </div>
    <div class="form-example">
      <input type="submit" value="Create Card">
    </div>
  </form>
  
{% endblock %}